<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Image Scraper | Avi Kasliwal</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Google Image Scraper</span>
    </nav>

    Images Will Be Displayed Here.

    <div class="container">
        <div class="row">
            {% for image in allImages %}
                <div class="col">
                    <img src = "{{ url_for('static', filename = image) }}" alt = "some alt text" class = "img-thumbnail">
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>